/*********************************/
//>>DIMENSIONES ------------------------------------------
$base-topbar-height:55px;
//<<DIMENSIONES ------------------------------------------


/* VARIABLES */
$base-barcolor:#d91b32;
$base-bgc-white01:#ffffff;
$base-colo01: red;
$base-colo02: #cc9999;

/*Fuentes*/
$base-font-color01: #999999;
$base-font-red01: #660000;
$base-font-white01: #ffffff;
$base-font-green01: #99cc66;
$base-font-color-gray01: #999999;

$base-fontfull-red02: helvetica;
$base-fontstack: helvetica;

/*Paddings y margenes*/
$base-pd-all:15px;
$base-borderRad:20px;

/*progress measures*/
$progchar-sm-width:250px;
$progchar-sm-height:200px;

.border-style-01{
  border-left: 1px solid rgba(102, 102, 102, .23);
}

.border-style-02{
  border-left: 2px solid rgba(102, 102, 102, .23);
}

/* COLORES */
$bg-color-aqua:#9ADED2;



/*********************************
$base-barcolor:#d91b32;
$base-bgc-white01:#ffffff;
$base-colo01: red;
$base-colo02: #cc9999;

$base-font-color01: #999999;
$base-font-red01: #660000;
$base-font-white01: #ffffff;
$base-font-green01: #99cc66;
$base-font-color-gray01: #999999;

$base-fontfull-red02: helvetica;
$base-fontstack: helvetica;

$base-pd-all:15px;
$base-borderRad:20px;

$progchar-sm-width:250px;
$progchar-sm-height:200px;

.border-style-01{
  border-left: 1px solid rgba(102, 102, 102, .23);
}

.border-style-02{
  border-left: 2px solid rgba(102, 102, 102, .23);
}
*/