<style>

    table {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 600px; /* this can vary */
    }

    table * {
        box-sizing: inherit;
        -moz-box-sizing: inherit;
    }

    thead {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-right: 15px;
    }

    tbody {
        overflow-y: scroll;
        display: inline-block;
    }

    thead > tr, tbody > tr, tfoot > tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    thead, tfoot {
        flex-shrink: 0;
    }

    th, tbody td {
        width: 20%; /* this can vary */
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    tfoot {
        display: inline-block;
    }

    tfoot td {
        width: 100%;
        display: inline-block;
    }

</style>
<table st-table="rowCollection" class="table table-striped table-bordered table-hover" style="background-color: whitesmoke">
    <thead>
    <tr>
        <th st-ratio="15">
            <div class="d-flex flex-column">
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span style="width: 100%;">Área de Negocio</span>
                </div>
            </div>
        </th>
        <th st-ratio="15">Servidor</th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">CPU</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>% Promedio</span>
                </div>
            </div>
        </th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">Memoria</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>% Promedio</span>
                </div>
            </div>
        </th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">Disco</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>% Promedio</span>
                </div>
            </div>
        </th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">Disco</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>Remediación</span>
                </div>
            </div>
        </th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">Memoria</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>Remediación</span>
                </div>
            </div>
        </th>
        <th st-ratio="10" >
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <span style="width: 100%;">Disco</span>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: center">
                    <span>Remediación</span>
                </div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ob in $ctrl.lstObServidor track by $index">
        <td st-ratio="15">{{ob.txArea}}</td>
        <td st-ratio="15">{{ob.txServidor}}</td>
        <td st-ratio="10">
            <div class="d-flex flex-row">
                <div class="d-flex">
                    <i class="fa fa-circle fa-1x" style="color:red" ng-if="ob.nuSemaforoCpu==3" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:yellow" ng-if="ob.nuSemaforoCpu==2" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:green" ng-if="ob.nuSemaforoCpu==1" aria-hidden="true"></i>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: right">
                    <span style="width: 100%;">{{ob.nuCpuPromedio}}</span>
                </div>
            </div>
        </td>
        <!-- memoria -->
        <td st-ratio="10">
            <div class="d-flex flex-row">
                <div class="d-flex">
                    <i class="fa fa-circle fa-1x" style="color:red" ng-if="ob.nuSemaforoMemoria==3" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:yellow" ng-if="ob.nuSemaforoMemoria==2" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:green" ng-if="ob.nuSemaforoMemoria==1" aria-hidden="true"></i>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: right">
                    <span style="width: 100%;">{{ob.nuMemoriaPromedio}}</span>
                </div>
            </div>
        </td>
        <!-- Disco -->
        <td st-ratio="10">
            <div class="d-flex flex-row">
                <div class="d-flex">
                    <i class="fa fa-circle fa-1x" style="color:red" ng-if="ob.nuSemaforoDisco==3" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:yellow" ng-if="ob.nuSemaforoDisco==2" aria-hidden="true"></i>
                    <i class="fa fa-circle fa-1x" style="color:green" ng-if="ob.nuSemaforoDisco==1" aria-hidden="true"></i>
                </div>
                <div class="d-flex align-items-stretch" style="flex:1; text-align: right">
                    <span style="width: 100%;">{{ob.nuDiscoPromedio}}</span>
                </div>
            </div>
        </td>
        <td st-ratio="10">{{ob.txCpuRem}}</td>
        <td st-ratio="10">{{ob.txMemoriaRem}}</td>
        <td st-ratio="10">{{ob.txDiscoRem}}</td>
    </tr>
    </tbody>
</table>