<div class="container-fluid h-100 w-100" style="overflow: scroll;">
    <div class="row no-gutters m-1 border align-items-center" style="height: 50px;background-color:white;">
        <div class="col app-font-title pl-2 no-spaces" style="background-color:white;">
            <span>ORIGINACIÓN</span>
        </div>
    </div>
    <div class="row m-0 p-0" style="">
        <div class="col-12 col-sm-4 p-1 m-0">
            <info-bit-cont
                    title="vm.infos.anio.title"
                    nu-data="m.general.txAnio"

                    class-icon="vm.infos.anio.icon">
            </info-bit-cont>
        </div>
        <div class="col-12 col-sm-4 p-1 m-0">
            <info-bit-cont
                    title="vm.infos.creditos.title"
                    nu-data="m.general.nuCreditos"
                    tx-format="#,##0"
                    class-icon="vm.infos.creditos.icon">
            </info-bit-cont>
        </div>
        <div class="col-12 col-sm-4 p-1 m-0">
            <info-bit-cont
                    title="vm.infos.montos.title"
                    nu-data="m.general.nuMonto"
                    tx-format="$#,##0 M"
                    class-icon="vm.infos.montos.icon">
            </info-bit-cont>
        </div>
    </div>
    <div class="row w-100 p-0 m-0" style="height: 350px;">
        <div class="col-12 col-sm-12 p-1 h-100">
            <light-chart-container
                    str-title="Créditos Ejercidos por Delegación"
                    str-footer=""
            >
                <chart>
                    <am-chart
                            id="tabOriginacion-chart01"
                            json-chart-path="json/chart-tab-originacion-credito.json"
                            zoom="{
                                 ini:0,
                                 end:5
                             }"
                            service-cnf="{
                            idTab:50,
                            idGra:2,
                            idQry:1
                        }">
                    </am-chart>
                </chart>
            </light-chart-container>
        </div>
        <div class="col-12 col-sm-12 p-1 h-100" style="height: 350px;">
            <light-chart-container
                    str-title="Montos por Delegación"
                    str-footer=""
            >
                <chart>
                    <am-chart
                            id="tabOriginacion-chart02"
                            json-chart-path="json/chart-tab-originacion-monto.json"
                            zoom="{
                                 ini:0,
                                 end:5
                             }"
                            service-cnf="{
                            idTab:50,
                            idGra:3,
                            idQry:1
                        }">
                    </am-chart>
                </chart>
            </light-chart-container>
        </div>
        <!--
        <div class="col-12 col-sm-6 p-1 h-100">
            <light-chart-container
                    str-title="Servidores por Plataforma"
                    str-footer=""
            >
                <chart>
                    <am-chart-vertical-bar
                            id="servidoresPorPlataforma02"
                            json-chart-path="json/resumen/servidoresPorPlataforma.json"
                            set-on-top="true"
                            maximize-attr="nuServidores"
                            max-attr="nuMaxCPU"
                            max-attr-format="#,##0"
                            max-graph-id="AmGraph-2"
                            service-cnf="{
                            idTab:1001,
                            idGra:3,
                            idQry:1
                        }">
                    </am-chart-vertical-bar>
                </chart>
            </light-chart-container>
        </div>
        -->
    </div>
</div>

<!--
<div class="row w-100" style="height: 40%;">
    <div class="col-11 p-3 h-100">
        <light-chart-container>
            <chart>
                <am-chart
                        style="height: 100%;"
                        id="area1"
                        json-chart-path="json/resumen/areaResumenAcumulado.json"
                        mock-data="areaAcumulado"
                        service-cnf="{
                            idTab:2,
                            idGra:10,
                            idQry:1
                        }">
                </am-chart>
            </chart>
        </light-chart-container>
    </div>
</div>-->
