<script src="hor-filtro.comp.js"></script>
<div class="d-flex flex-row p-1" style="background-color: whitesmoke;">
    <div class="d-flex pr-2 align-self-center">
        <span>{{$ctrl.txTitulo}}</span>
    </div>
    <div class="d-flex align-self-center" style="flex:1">
        <select class="form-control"
                ng-model="$ctrl.obSelectedItem"
                ng-options="option.txItem for option in $ctrl.lstObItems track by option.idItem"
        >
        </select>
        <!--<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="comboArea" ng-model="selectedArea" ng-options="option.txArea for option in catArea track by option.idArea">-->
    </div>
</div>